<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <h1>ようこそ <strong>Bookers</strong> へ！</h1>
    <div class="box">
      <div class="box-item">
       <p><strong>Bookers</strong> では、さまざまな書籍に関するあなたの意見や</p>
    </div>

    <div class="box">
      <div class="box-item">
       <p>印象を共有し交換することができます</p>
    
    <div class="box">
      <div class="box-item">
       <p> <a href="/books"></a>start</p>
    </div>
  </body>
</html>